<a href="https://colab.research.google.com/github/AlexCuke/colab/blob/main/practice_second_analitic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')
sales = pd.read_csv('/content/drive/My Drive/Colab Notebooks/sales_with_duplicates.csv', sep=',')
sales.head(10) #first 10 strings
sales.info()

SyntaxError: unterminated string literal (detected at line 4) (ipython-input-615277231.py, line 4)

In [ ]:
data = pd.DataFrame(sales)
sales2 = data.duplicated()
sales2.head(10)
sales2.info()
sales2.query(True)

<class 'pandas.core.series.Series'>
RangeIndex: 1688224 entries, 0 to 1688223
Series name: None
Non-Null Count    Dtype
--------------    -----
1688224 non-null  bool
dtypes: bool(1)
memory usage: 1.6 MB

AttributeError: 'Series' object has no attribute 'query'